# =========================
# Maven build output
# =========================
target/
!target/*.jar

# =========================
# Compiled files
# =========================
*.class
*.log

# =========================
# IDE files
# =========================
.idea/
*.iml
.vscode/

# =========================
# Other build folders
# =========================
out/